@import '~antd/dist/antd.css';

.fb_btn_login{
    background-color: #4267B2 !important;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
.fb_btn_login > i{
    margin-right: 10px;
}